@using System
@using BlazorRss.Shared.Models
@using Microsoft.EntityFrameworkCore

@page "/manage/feeds"

@inherits ManageFeedsBase

<div class="ui container">
    @if (feeds != null)
    {
        <h1 class="ui header">
            Manage Feeds
        </h1>

        <table class="ui single line selectable striped very basic table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="right aligned collapsing"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var feed in feeds)
                {
                    <tr>
                        <td>@feed.Name</td>
                        <td class="right aligned">
                            <button class="ui button" onclick="@(e => ActionEditFeed(@feed))">Edit</button>
                            <button class="ui negative button" onclick="@(e => ActionRemoveFeed(@feed))">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">
                        <div class="ui fluid action input">
                            <input bind="@NewFeedUrl" type="text" name="feed-url" placeholder="Feed URL..." />
                            <button class="ui positive button" onclick="@ActionAddFeed">Add</button>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>

        <div class="ui form">
            <div class="field">
                <label for="">OPML Contents</label>
                <textarea type="text" placeholer="OPML Contents to import..." bind="@OpmlInput" />
            </div>
            <button class="ui button" type="submit" onclick="@ActionImportOpml">Import</button>
        </div>
    }
</div>
