@using BlazorRss.Shared.Models
@using Humanizer;

@inherits ArticleViewBase

@if (_article == null)
{
    <div class="ui center aligned disabled basic segment">No article loaded</div>
}
else
{
    <div id="articledescription" class="ui secondary basic segment">
        <h3 class="ui header">
            @_article.Title

            <div class="sub header">
                By @_article.Author, published @_article.DatePublished.Humanize(), <a href="@_article.ArticleUrl" target="_blank">Source</a>
            </div>
        </h3>
    </div>
    <div id="articleview" class="ui basic segment">
        @((MarkupString)@CommonMark.CommonMarkConverter.Convert(_article.Content))
    </div>
}